### Gradle ###
.gradle
/build.gradle
/gradlew
/gradlew.bat
/settings.gradle
/gradle/
HELP.md

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Build ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
build/

### Secrets ###
!**/SecretsHolder.java
