<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %date{d/M HH:mm:ss.SSS} %-5level [%t] %logger{0}: %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>
</configuration>
